@use "/resources/scss/base";

.user-edit-page {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem; // Equivalent to 16px
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; // Equivalent to 8px
    }
}