@use "/resources/scss/base";

.dashboard-page {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    gap: 1rem; // Equivalent to 16px
    overflow-x: auto;
    border-radius: base.$radius;
    padding: 1rem; // Equivalent to 16px

    &__grid {
        display: grid;
        grid-auto-rows: minmax(0, 1fr);
        gap: 1rem; // Equivalent to 16px

        @media (min-width: 48em) {
            // Equivalent to 768px
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__card {
        position: relative;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: base.$radius;
        border: 1px solid base.$color-border;
    }

    &__main-card {
        position: relative;
        min-height: 100vh;
        flex: 1;
        overflow: hidden;
        border-radius: base.$radius;
        border: 1px solid base.$color-border;

        @media (min-width: 48em) {
            // Equivalent to 768px
            min-height: min-content;
        }
    }
}