@use "base";

// Components
@use 'components/button';
@use 'components/separator';
@use 'components/input';
@use 'components/label';
@use 'components/input-error';
@use 'components/heading-small';
@use 'components/badge';
@use 'components/text-link';
@use 'components/checkbox';
@use 'components/card';
@use 'components/table';
@use 'components/select';
@use 'components/appearance-tabs';
@use 'components/delete-user';
@use 'components/app-content';
@use 'components/app-shell';
@use 'components/app-sidebar';
@use 'components/placeholder-pattern';

// Layouts
@use 'layouts/settings/layout';
@use 'layouts/auth-layout';
@use 'layouts/app/app-sidebar-layout';

// Pages
@use 'pages/settings/profile';
@use 'pages/settings/password';
@use 'pages/settings/appearance';
@use 'pages/auth/login';
@use 'pages/auth/register';
@use 'pages/dashboard';
@use 'pages/admin/users/user-index';
@use 'pages/admin/users/user-create';
@use 'pages/admin/users/user-edit';
@use 'pages/admin/users/user-show';
@use 'pages/admin/logs/log-index';
@use 'pages/admin/logs/log-view';
@use 'pages/admin/admin-dashboard';
@use 'pages/reports/reports-index';
@use 'pages/reports/reports-view';
@use 'pages/reports/reports-edit';
@use 'pages/reports/failures/reports-failures-create';
@use 'pages/reports/failures/reports-failures-index';
@use 'pages/reports/failures/reports-failures-view';