@use "/resources/scss/base";

.failure-create-page {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}