@use "/resources/scss/base";

.failure-show-page {
    &__card-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__detail-group {
        display: flex;
        flex-direction: column;
    }

    &__detail-label {
        font-weight: 600;
    }
}