@use "/resources/scss/base";

.heading-small {
    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        color: base.$color-foreground;
    }

    &__description {
        font-size: 0.875rem;
        color: base.$color-muted-foreground;
        margin-top: 0.25rem;
    }
}