@use "/resources/scss/base";

.placeholder-pattern {
    background-image: linear-gradient(45deg, base.$color-muted 25%, transparent 25%, transparent 75%, base.$color-muted 75%, base.$color-muted),
        linear-gradient(45deg, base.$color-muted 25%, transparent 25%, transparent 75%, base.$color-muted 75%, base.$color-muted);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    width: 100%;
    height: 100%;
}