@use "/resources/scss/base";

.app-sidebar-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;

    &__main-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__header {
        height: 4rem; // Example height for a header
        border-bottom: 1px solid base.$color-border;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        background-color: base.$color-background;
        color: base.$color-foreground;
    }

    &__content-area {
        flex-grow: 1;
        overflow-y: auto;
    }
}