@use "/resources/scss/base";

.organization-show-page {
    &__card-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; // Equivalent to 8px
    }

    &__detail-group {
        display: flex;
        flex-direction: column;
    }

    &__detail-label {
        font-weight: 600;
    }

    &__actions {
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}