name: Deploy app

on:
  push:
    branches:
      - main

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Release Date
        id: release_date
        run: |
          echo "release_date=$(date --rfc-3339=date)" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/kiroku
          # Always creates the "latest" tag
          flavor: |
            latest=true
          tags: |
            type=raw,value=${{ steps.release_date.outputs.release_date }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          file: ./docker/common/Dockerfile
          target: production
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/kiroku:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/kiroku:cache,mode=max
  
  deploy_app:
    runs-on: ubuntu-latest
    needs: build_and_push_image
    steps:
      - name: "Configure SSH"
        env: 
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "Checking for SSH..."
          which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
          eval $(ssh-agent -s)

          echo "Adding key..."
          echo "$SSH_PRIVATE_KEY" > key.pem
          sudo chmod 400 key.pem

          echo "Creating SSH directory..."
          mkdir -p ~/.ssh

          echo "Configure no host checking..."
          echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

      - name: "Upload image"
        env:
          USER: ${{ secrets.USER }}
          HOST: ${{ secrets.HOST }}
          DOCKER_PATH: ${{ secrets.DOCKER_PATH }}
          ENV_PATH: ${{ secrets.ENV_PATH }}
        run: |
          echo "Updating image in host..."
          ssh -i key.pem $USER@$HOST "
            sudo systemctl start docker;

            docker stop kiroku || true;
            docker rm kiroku || true;

            docker image prune -af;

            docker pull ghcr.io/${{ github.repository_owner }}/kiroku:latest;

            docker run -d \
              --name kiroku \
              --restart unless-stopped \
              -p 9000:9000 \
              -v $DOCKER_PATH:/var/www \
              -v $ENV_PATH/.env:/var/www/.env \
              ghcr.io/${{ github.repository_owner }}/kiroku:latest;
          "

      - name: Check health
        run: |
          echo "Checking API health..."
          # Wait 15 seconds to ensure the API is up and running
          sleep 15
          curl --fail --silent --show-error https://${{ vars.APP_DOMAIN }}/health
